<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlastiCode"
        tools:targetApi="31">
        <activity
            android:name=".ui.detection.detail.DetectionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detection.result.DetectionResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detection.camera.CameraActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCb_tmoxSbjjPLPp2UUXE9aIidqEjMT-AE" />

        <activity
            android:name=".ui.pengaturan.PengaturanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.riwayat.RiwayatActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.menu.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageClassActivity"
            android:exported="false" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCb_tmoxSbjjPLPp2UUXE9aIidqEjMT-AE" />
    </application>

</manifest>